body {
	font-family: 'Comfortaa', Helvetica, sans-serif;
}

header {
	background: #3a7bd5;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	
	text-align: center;
	padding-top: 8vh;
	color: white;
}
	header .topLogo {
		height: 120px;
	}

	header .screenshot {
		width: 100%;
		
	}

	header h1 {
		font-weight: 300;
		font-size: 3em;
	}
	
	header h3 {
		font-size: 1.4em;
		width: 95vw;
		max-width: 500px;
		display: inline-block;
		font-family: 'Zilla Slab';
		font-weight: 300;
		line-height: 1.5;
	}

.signupSection {
	padding: 8vh 0px;
	text-align: center;
	background-color: #86A21C;
	color: white;
}
	.signupSection h1 {
		margin-bottom: 5vh;
	}

	.signupSection input {
		padding: 12px;
		width: 100%;
		max-width: 400px;
		margin-bottom: 03px;
		font-family: 'Zilla Slab';
		font-size: 1.4em;
		color: #86A21C;
		border: 3px solid white;
	}
	.signupSection input:focus {
		outline: none;
		border: 3px solid #72881E;
	}

	.signupSection button {
		padding: 15px;
		width: 100%;
		max-width: 400px;
		margin-bottom: 5px;
		font-size: 1.4em;
		color: white;
		background-color: #DC6152;
		border: none;
	}

	.signupSection a {
		color: white;
		text-decoration: underline;
	}

footer {
	background-color: #3d3d3d;
	color: gray;
	padding: 7vh 0;
	font-family: 'Zilla Slab';
	line-height: 1.8;
	font-size: 1.2em;
}
	footer a {
		color: white;
	}