body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-weight: 200;
	height: 100%;
    font-family: 'News Cycle', sans-serif;
    font-size: 18px;
}

header {
	background-position: top;
	background-size: cover;
	height: 60px;
	background-color: #F4F5AB;
}

#topLogo {
	text-align: left;
	color: #333745;
	margin-top: 0px;
	margin-left: 15px;
	padding-top: 15px;
	font-size: 30px;
	font-family: 'Homemade Apple', cursive;
	font-weight: 60;
}

#signout {
    font-family: 'News Cycle', sans-serif;
    font-size: 20px;
    color: #333745;
	float: right;
	margin-right: 25px;
}

#dateDayRow {
	height: 80px;
}

	#dateDayRow .col-sm-1 {
		padding-top: 15px;
		text-align: center;
	}

.categoryLane {
	background: #77C4D3;
	margin-bottom: 10px;
}
	.categoryLane .col-sm-1 {
		/*border-right: white 1px solid;*/
		height: 150px;
		padding: 0px;
	}

	.categoryLane .dayBlock:hover {
		background-color: #ecf2f9;
		cursor: pointer;
	}

	.categoryLane .categoryName {
		background-color: #333745;
		color: white;
		text-align: center;
		padding: 0px;
		margin: 0px;
		border-left: none;
		line-height: 150px;		
	}

	.categoryLane .addPhase {
		background-color: transparent;
		border: dashed #333745 3px;
		text-align: center;
		margin: 10px;
		height: 130px;
		padding: 10px;
		padding-top: 35px;
		color: #333745;
		font-weight: 400;
		font-size: 1.2em;
	}

	.categoryLane .projectHolder {
		background-color: white;
		padding: 15px 0px;
		margin: 20px 0px;
	}

	.categoryLane .dayContent {
		background: #bdccdb;
		height: 80px;
		color: #333745;
	}
		.categoryLane .dayContent .dayTitle {
			position: absolute;
			bottom: 0;
			left: 0;
			padding-bottom: 40px;
			padding-left: 8px;
		}

.addCategoryButton {
	width: 100vw;
	text-align: center;
	background: #EA2E49;
	color: white;
	padding: 20px 0px;
	text-transform: uppercase;
	letter-spacing: 5px;
}	
	.addCategoryButton:hover {
		cursor: pointer;
		background: #F55F65;
	}

	.addCategoryButton input {
		text-align: center;
		width: 100%;
		text-transform: uppercase;
	letter-spacing: 5px;
	}

	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: white;
	}
	::-moz-placeholder { /* Firefox 19+ */
	color: white;
	}
	:-ms-input-placeholder { /* IE 10+ */
	color: white;
	}
	:-moz-placeholder { /* Firefox 18- */
	color: white;
	}

.nextWeekButton {
	line-height: 150px;
	font-size: 25pt;
	text-align: center;
	color: white;
	background: #333745;
}


@media (max-width: 768px) {
	.container {
		width: 100vw;
	}
}

@media (min-width: 768px) {
	.container {
		width: 100vw;
	}
}

@media (min-width: 1450px) {
	.container {
		width: 100vw;
	}
}

@media (min-width: 1600px) {
	.container {
		width: 100vw;
	}
}

.container {
	width: 100vw;
	padding: 0px;
}

.row {
	margin: 0px;
}




.form-control {width:300px;}
.popover {max-width:400px;}

#newClassName {
	background: transparent;
	border: none;
	display: none;
}
	#newClassName:focus {
		outline: none;
	}

/* slide out panel*/

.form-control {width:300px;}
.popover {max-width:400px;}

#newClassName {
	background: transparent;
	border: none;
	display: none;
}
	#newClassName:focus {
		outline: none;
	}



#slideout {
	color: white;
    position: fixed;
    top: 60px;
    right: 0;
    width: 45px;
    height: 60px;
    padding: 8px 0;
    text-align: center;
    background: #EA2E49;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    border-radius: 5px 0 0 5px;
}

#slideout_inner {
    position: fixed;
    float: right;
    top: 60px;
    right: -350px;
    background: #EA2E49;
    width: 175px;
    padding: 3px;
    height: 510px;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    text-align: left;
    -webkit-border-radius: 0 0 5px 0;
    -moz-border-radius: 0 0 5px 0;
    border-radius: 0 0 5px 0;
}

#slideout_inner textarea {
	float: right
    width: 260px;
    height: 500px;
    margin-bottom: 6px;
    color: #000;
}

#slideout:hover {
    right: 170px;
}

#slideout:hover #slideout_inner {
    right: 0;
}
